.loader_wrap,
.loader_wrap_background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 100%;
	height: 100%;
}

.loader_wrap_background {
	position: absolute;
	top: 0;
	right: 0;
	background: rgb(28 28 33 / 100%);
	border-radius: 80px;
}

.loader {
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	background: var(--text-primary-color);
	border-radius: 50%;
	box-shadow:
		-24px 0 var(--text-primary-color),
		24px 0 var(--text-primary-color);
	animation: shadow-pulse 2s linear infinite;
}

@keyframes shadow-pulse {
	33% {
		background: var(--text-primary-color);
		box-shadow:
			-24px 0 var(--colors-interface-accent),
			24px 0 var(--text-primary-color);
	}

	66% {
		background: var(--colors-interface-accent);
		box-shadow:
			-24px 0 var(--text-primary-color),
			24px 0 var(--text-primary-color);
	}

	100% {
		background: var(--text-primary-color);
		box-shadow:
			-24px 0 var(--text-primary-color),
			24px 0 var(--colors-interface-accent);
	}
}
