.info_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 100%;
	height: 100%;
	text-shadow:
		0 0 16px var(--colors-interface-accent),
		0 0 8px var(--colors-interface-accent),
		0 0 32px var(--colors-interface-accent);
}
