.burger_constructor,
.selected_elements,
.selected_elements_empty,
.selected_elements_hover,
.selected_elements_scroll {
	display: flex;
	flex-direction: column;
}

.burger_constructor {
	justify-content: space-between;
	width: 600px;
}

.selected_elements,
.selected_elements_empty,
.selected_elements_hover {
	justify-content: space-between;
	align-items: end;
	gap: 16px;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.selected_elements_empty {
	justify-content: center;
}

.selected_elements_hover {
	opacity: 0.7;
}

.selected_element,
.order_container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.selected_element {
	gap: 8px;
}

.empty_ingredients_text,
.selected_element_hover:hover {
	text-shadow:
		0 0 16px var(--colors-interface-accent),
		0 0 8px var(--colors-interface-accent),
		0 0 32px var(--colors-interface-accent);
}

.selected_element_hover:hover {
	cursor: pointer;
}

.selected_element_scroll {
	width: 100%;
}

.selected_elements_scroll {
	gap: 16px;
	max-height: calc(100vh - 534px);
	padding: 0;
	overflow: auto;
}

.order_container {
	gap: 40px;
}

.price_container {
	display: flex;
	align-items: center;
	gap: 8px;
}
