.page_profile {
	display: flex;
	align-self: center;
	gap: 60px;
	width: 1240px;
	height: 100%;
}

.nav_container,
.nav_list {
	display: flex;
	flex-direction: column;
}

.nav_container {
	gap: 80px;
	width: 320px;
	margin-top: 120px;
}

.nav_list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.link_wrap {
	display: flex;
	align-items: center;
	height: 64px;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.link,
.link_active {
	text-decoration: none;
}

.link {
	color: var(--text-inactive-color);
	background-color: inherit;
	border: none;
}

.link_active {
	color: var(--text-primary-light);
}

.buttons {
	display: flex;
	justify-content: flex-end;
	gap: 25px;
	width: 100%;
}

.form {
	margin-top: 120px;
}

.orders,
.orders_empty {
	width: 844px;
	margin-top: 40px;
}

.orders_empty {
	height: 200px;
}
