.item {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-right: 8px;
	padding: 24px;
	color: var(--text-primary-light);
	text-decoration: none;
	background-color: var(--background);
	border-radius: 40px;
	cursor: pointer;
}

.item_order_info {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.item_order_number,
.item_order_time {
	margin: 0;
}

.item_name {
	width: 100%;
}

.images_and_price {
	display: flex;
	justify-content: space-between;
}

.images {
	display: flex;
	padding: 0;
}

.price {
	display: flex;
	align-items: center;
	gap: 8px;
}
