.login {
    margin-top: 180px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input>div>div {
    max-width: 480px;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
    padding-left: 8px;
}

.page {
    margin: 0 auto;
    max-width: 1920px;
}

.wrap {
    padding-top: 120px;
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileConteiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav {
    max-width: 320px;
    list-style: none;
}

.navElem {
    height: 64px;
    text-decoration: none;
}

.navElem_inActive {
    height: 64px;
    cursor: pointer;
    color: #8585AD;
    text-decoration: none;
}
.navElem_active {
    composes: navElem;
    color: #F2F2F3;
}

.navElem:hover {
    opacity: .7;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.feedPage {
    margin: 0 auto;
    max-width: 1359px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loader {
    display: flex;
    color: #F2F2F3;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.8),
    0px 0px 8px rgba(51, 51, 255, 0.8), 0px 4px 32px rgba(51, 51, 255, 0.8);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(28, 28, 33, 1);
    background-size: 200% 100%;
    background-position-x: 180%;
    border-radius: 80px;
}