.container {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: start;
	box-sizing: border-box;
	width: 720px;
	min-height: 554px;
	background-color: var(--background);
	border: none;
	border-radius: 32px;
	transform: translate(-50%, -50%);
}

.text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 640px;
	height: 64px;
}

.button {
	width: 24px;
	height: 24px;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}
