:root {
	--text-primary-light: #f2f2f3;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@supports (scrollbar-color: auto) {
	.custom-scroll {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}

	body {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}
}
