.burger_ingredients,
.ingredients_list {
	display: flex;
	flex-direction: column;
}

.burger_ingredients {
	max-width: 600px;
	font-family: 'Jet Brains Mono', serif;
}

.menu {
	display: flex;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.ingredients_list {
	gap: 40px;
	margin: 0;
	padding: 0;
	overflow: auto;
	overflow-x: hidden;
	list-style-type: none;
}
